{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h3>{{{success_msg}}}</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if warning_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h3>{{{warning_msg}}}</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <h3>{{this.message}}</h3>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/each}}
{{/if}}