<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>Login Page</h3>
    <div class="card mt-3">
      {{> message}}
      <form action="/users/login" method="POST">

        <div class="form-control row">
          <label class="col-auto col-md-6" for="email">email:</label>
          <input class="col-auto col-md-6" type="email" id="email" name="email" placeholder="abc@1234">
        </div>
        
        <div class="form-control row">
          <label class="col-auto col-md-6" for="password">password:</label>
          <input class="col-auto col-md-6" type="password" id="password" name="password" placeholder="password">
        </div>
        <div class="form-control row">
          <button type="submit" class="col-auto btn btn-success">送出</button>
        </div>
        <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
        <p>Haven't Account?<a href="./register">Register</a></p>
      </form>
    </div>
  </div>
</div>