<link rel="stylesheet" href="/stylesheets/style.css">
<div class="row">
  <div class="col-md-6 mx-auto mt-5" style="max-width: 600px">
    {{> message}}
    <div class="card card-body" style="background-color: #F5F5F5">
      <h3 class="text-center">Register Page</h3>
      <form action="/users/register" method="POST">
        <div class="form-group row">
          <label class="col-3" for="name">Name:</label>
          <input class="col-9 form-control" type="text" id="name" name="name" placeholder="user name" value="{{ name }}" required>
        </div>

        <div class="form-group row">
          <label class="col-3" for="email">email:</label>
          <input class="col-9 form-control" type="email" id="email" name="email" placeholder="abc@1234" value="{{ email }}" required>
        </div>

        <div class="form-group row">
          <label class="col-3" for="password">password:</label>
          <input class="col-9 form-control" type="password" id="password" name="password" placeholder="password" value="{{ password }}" required>
        </div>

        <div class="form-group row">
          <label class="col-3" for="passwordConfirm">password confirm</label>
          <input class="col-9 form-control" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="password confirm" value="{{ passwordConfirm }}" required>
        </div>

        <div class="form-group row d-flex flex-column">
          <button type="submit" class="btn btn-success">送出</button>
          <a href="/auth/facebook" class="btn btn-primary mt-2">Facebook Login</a>
          <p class="mt-2 font-weight-bold">Have Account?<a href="./login">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>