<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mt-3">
      <form action="">
        <div class="form-control row">
          <label class="col-md-6" for="">user name:</label>
          <input type="text">
        </div>

        <div class="form-control row">
          <label class="col-md-6" for="">email:</label>
          <input type="text">
        </div>

        <div class="form-control row">
          <label class="col-md-6" for="">password:</label>
          <input type="text">
        </div>

        <div class="form-control row">
          <label class="col-md-6" for="">password confirm</label>
          <input type="text">
        </div>
      </form>
    </div>
  </div>
</div>