<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>Register Page</h3>
    {{> message}}
    <div class="card mt-3">
      <form action="/users/register" method="POST">
        <div class="form-control row">
          <label class="col-md-6 col-auto" for="name">user name:</label>
          <input class="col-md-6 col-auto" type="text" id="name" name="name" placeholder="user name" value="{{ name }}" required>
        </div>

        <div class="form-control row">
          <label class="col-md-6 col-auto" for="email">email:</label>
          <input class="col-md-6 col-auto" type="email" id="email" name="email" placeholder="abc@1234" value="{{ email }}" required>
        </div>

        <div class="form-control row">
          <label class="col-md-6 col-auto" for="password">password:</label>
          <input class="col-md-6 col-auto" type="password" id="password" name="password" placeholder="password" value="{{ password }}" required>
        </div>

        <div class="form-control row">
          <label class="col-md-6 col-auto" for="passwordConfirm">password confirm</label>
          <input class="col-md-6 col-auto" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="password confirm" value="{{ passwordConfirm }}" required>
        </div>
        <button type="submit" class="btn btn-success">送出</button>
        <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
      </form>
      <p>Have Account?<a href="./login">Login</a></p>
    </div>
  </div>
</div>